<a href="https://colab.research.google.com/github/PedroMarcusso09/Calculadora-de-Aluguel-/blob/main/Coleta_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa: Calculadora de Aluguel - Coleta de Dados

In [1]:
# Bibliotecas
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
# Pegando as páginas solicitadas
paginas = ['']
for i in range(1,40):
    a = '?pagina='+str(i)
    paginas.append(a)

In [14]:
# Fazendo um DataFrame
def converter_df(aluguel_lista, quartos_lista, endereco_lista, area_lista):
    data = {'aluguel':aluguel_lista,
           'quartos':quartos_lista,
           'endereco':endereco_lista,
            'area':area_lista}
    df = pd.DataFrame(data)
    return df

In [11]:
# Trannsformando em listas

def scrap(url):
    c = requests.get(url).content
    soup = BeautifulSoup(c)
    
    #  Aluguel
    aluguel_tag = soup.find_all('div', {'class':'property-card__price js-property-card-prices js-property-card__price-small'}) 
    aluguel_lista = [p.text for p in aluguel_tag] 
     
    # Quartos
    quartos_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-room js-property-detail-rooms'}) 
    quartos_lista = [en.text for en in quartos_tag] 

    # Endereço
    endereco_tag = soup.find_all('span', {'class': 'property-card__address'}) 
    endereco_lista = [fg.text for fg in endereco_tag] 

   # Área
    area_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-area'}) 
    area_lista = [yp.text for yp in area_tag] 

    df = converter_df(aluguel_lista, quartos_lista, endereco_lista, area_lista)
    return df

In [12]:
# Coletando dados de imóveis do site Viva Real

df_lista = []
for pg in paginas:
    URL = 'https://www.vivareal.com.br/aluguel/rj'.format(pg)
    print('Coletando URL:', URL)
    df = scrap(URL)
    df_lista.append(df)

Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj
Coletando URL: https://www.vivareal.com.br/aluguel/rj

In [13]:
df2 = pd.concat(df_lista)
df2.head()

,aluguel,quartos,endereco,area
0,R$ 1.800 /Mês,2 Quartos,"Rua Santa Luísa, 167 - Maracanã, Rio de Janeir...",80 m²
1,R$ 1.450 /Mês,2 Quartos,"Rua Duque de Caxias, 34 - Vila Isabel, Rio de ...",73 m²
2,R$ 3.700 /Mês,3 Quartos,"Avenida Rui Barbosa, 560 - Flamengo, Rio de Ja...",100 m²
3,R$ 1.200 /Mês,1 Quarto,"Rua Conde de Baependi, 54 - Flamengo, Rio de J...",31 m²
4,R$ 900 /Mês,1 Quarto,"Rua Santo Amaro, 381 - Santa Teresa, Rio de Ja...",22 m²

In [15]:
df2.to_csv('dados_mercado_livre.csv', index=False)

In [16]:
pd.read_csv('dados_mercado_livre.csv', thousands='.')

,aluguel,quartos,endereco,area
0,R$ 1.800 /Mês,2 Quartos,"Rua Santa Luísa, 167 - Maracanã, Rio de Janeir...",80 m²
1,R$ 1.450 /Mês,2 Quartos,"Rua Duque de Caxias, 34 - Vila Isabel, Rio de ...",73 m²
2,R$ 3.700 /Mês,3 Quartos,"Avenida Rui Barbosa, 560 - Flamengo, Rio de Ja...",100 m²
3,R$ 1.200 /Mês,1 Quarto,"Rua Conde de Baependi, 54 - Flamengo, Rio de J...",31 m²
4,R$ 900 /Mês,1 Quarto,"Rua Santo Amaro, 381 - Santa Teresa, Rio de Ja...",22 m²
...,...,...,...,...
1435,R$ 1.600 /Mês,2 Quartos,"Avenida Tenente-Coronel Muniz de Aragão, 898 -...",50 m²
1436,R$ 1.200 /Mês,2 Quartos,"Rua Vilela Tavares, 216 - Méier, Rio de Janeir...",73 m²
1437,R$ 1.900 /Mês,2 Quartos,"Rua Jorge Rudge, 77 - Vila Isabel, Rio de Jane...",85 m²
1438,R$ 4.500 /Mês,1 Quarto,"Avenida Ayrton Senna, 170 - Barra da Tijuca, R...",60 m²
1439,R$ 890 /Mês,1 Quarto,"Rua Riachuelo, 325 - Centro, Rio de Janeiro - RJ",46 m²