<a href="https://colab.research.google.com/github/PedroMarcusso09/Calculadora-de-Aluguel-/blob/main/Manipula%C3%A7%C3%A3o%20de%20Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tarefa: Calculadora de Aluguel - Manipulação de Dados

In [5]:
# Bibliotecas
import pandas as pd

In [6]:
# Carregando arquivo CSV
df = pd.read_csv('/content/dados coletados (Mercado Livre).csv')

In [14]:
# As cincos primeiras linhas
df.head()

,zonas,areas_quartos,enderecos,precos,area,quarto
0,norte,58 m² construídos2 quartos,"Vila Primavera, São Paulo Zona Norte, São Paulo",1200,58,2
1,norte,186 m² construídos3 quartos,"Jardim São Paulo, São Paulo Zona Norte, São Paulo",3100,186,3
2,norte,80 m² construídos3 quartos,"Vila Primavera, São Paulo Zona Norte, São Paulo",3300,80,3
3,norte,50 m² construídos2 quartos,"Mandaqui, São Paulo Zona Norte, São Paulo",1550,50,2
4,norte,56 m² construídos2 quartos,"Vila Primavera, São Paulo Zona Norte, São Paulo",1200,56,2

In [16]:
# Ajustndo as minhas colunas e meus dados
df [['area', 'quarto']] = df['areas_quartos'].str.split('construídos', expand=True)
df['precos'] = df['precos'].replace('\.', '', regex=True)
df['area'] = df.area.str.split('m²').str[0]
df['area'] = df.area.str.split(',').str[0]
df['quarto'] = df.quarto.str.split('quartos' and 'quarto').str[0]
df['quarto'] = df['quarto'].replace('\--', '0', regex=True)
df['quarto'] = df.quarto.str.split('.').str[0]
df= df.drop(columns=['areas_quartos'])
df.head()

,zonas,enderecos,precos,area,quarto
0,norte,"Vila Primavera, São Paulo Zona Norte, São Paulo",1200,58,2
1,norte,"Jardim São Paulo, São Paulo Zona Norte, São Paulo",3100,186,3
2,norte,"Vila Primavera, São Paulo Zona Norte, São Paulo",3300,80,3
3,norte,"Mandaqui, São Paulo Zona Norte, São Paulo",1550,50,2
4,norte,"Vila Primavera, São Paulo Zona Norte, São Paulo",1200,56,2

In [22]:
# Transformando os dados em floats
df['quarto'] = df['quarto'].astype(float)
df['area'] = df['area'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   zonas      960 non-null    object
 1   enderecos  960 non-null    object
 2   precos     960 non-null    int64
 3   area       960 non-null    float64
 4   quarto     943 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 37.6+ KB

In [23]:
df.to_csv('dados_tratados_ml.csv', index=False)
pd.read_csv('dados_tratados_ml.csv')

,zonas,enderecos,precos,area,quarto
0,norte,"Vila Primavera, São Paulo Zona Norte, São Paulo",1200,58.0,2.0
1,norte,"Jardim São Paulo, São Paulo Zona Norte, São Paulo",3100,186.0,3.0
2,norte,"Vila Primavera, São Paulo Zona Norte, São Paulo",3300,80.0,3.0
3,norte,"Mandaqui, São Paulo Zona Norte, São Paulo",1550,50.0,2.0
4,norte,"Vila Primavera, São Paulo Zona Norte, São Paulo",1200,56.0,2.0
...,...,...,...,...,...
955,oeste,"Jardim Paulistano, São Paulo Zona Oeste, São P...",2759,25.0,1.0
956,oeste,"Cidade Moncoes, São Paulo Zona Oeste, São Paulo",3200,40.0,1.0
957,oeste,"Cidade Moncoes, São Paulo Zona Oeste, São Paulo",1800,48.0,2.0
958,oeste,"Pinheiros, São Paulo Zona Oeste, São Paulo",10000,102.0,1.0
959,oeste,"Cidade Moncoes, São Paulo Zona Oeste, São Paulo",2100,44.0,1.0